In [1]:
import numpy as np
import pandas as pd
import pickle

In [2]:
test_df = pd.read_csv('clean_test.csv')
test_df.fillna('NA',inplace=True)
test_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,SaleType,SaleCondition,AgeRemod
0,1461,20,RH,80.0,11622,Pave,NA,Reg,Lvl,AllPub,...,0,120,0,NA,MnPrv,NA,0,WD,Normal,0
1,1462,20,RL,81.0,14267,Pave,NA,IR1,Lvl,AllPub,...,0,0,0,NA,NA,Gar2,12500,WD,Normal,0
2,1463,60,RL,74.0,13830,Pave,NA,IR1,Lvl,AllPub,...,0,0,0,NA,MnPrv,NA,0,WD,Normal,1
3,1464,60,RL,78.0,9978,Pave,NA,IR1,Lvl,AllPub,...,0,0,0,NA,NA,NA,0,WD,Normal,0
4,1465,120,RL,43.0,5005,Pave,NA,IR1,HLS,AllPub,...,0,144,0,NA,NA,NA,0,WD,Normal,0

In [3]:
test_df.isna().any().sum()

0

In [4]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 75 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             1459 non-null   int64
 1   MSSubClass     1459 non-null   int64
 2   MSZoning       1459 non-null   object
 3   LotFrontage    1459 non-null   float64
 4   LotArea        1459 non-null   int64
 5   Street         1459 non-null   object
 6   Alley          1459 non-null   object
 7   LotShape       1459 non-null   object
 8   LandContour    1459 non-null   object
 9   Utilities      1459 non-null   object
 10  LotConfig      1459 non-null   object
 11  LandSlope      1459 non-null   object
 12  Neighborhood   1459 non-null   object
 13  Condition1     1459 non-null   object
 14  Condition2     1459 non-null   object
 15  BldgType       1459 non-null   object
 16  HouseStyle     1459 non-null   object
 17  OverallQual    1459 non-null   int64
 18  OverallCond    1459 non-null   int64
 19  RoofStyle      1459 non-null   object
 20  RoofMatl       1459 non-null   object
 21  Exterior1st    1459 non-null   object
 22  Exterior2nd    1459 non-null   object
 23  MasVnrType     1459 non-null   object
 24  MasVnrArea     1459 non-null   float64
 25  ExterQual      1459 non-null   object
 26  ExterCond      1459 non-null   object
 27  Foundation     1459 non-null   object
 28  BsmtQual       1459 non-null   object
 29  BsmtCond       1459 non-null   object
 30  BsmtExposure   1459 non-null   object
 31  BsmtFinType1   1459 non-null   object
 32  BsmtFinSF1     1459 non-null   float64
 33  BsmtFinType2   1459 non-null   object
 34  BsmtFinSF2     1459 non-null   float64
 35  BsmtUnfSF      1459 non-null   float64
 36  TotalBsmtSF    1459 non-null   float64
 37  Heating        1459 non-null   object
 38  HeatingQC      1459 non-null   object
 39  CentralAir     1459 non-null   object
 40  Electrical     1459 non-null   object
 41  1stFlrSF       1459 non-null   int64
 42  2ndFlrSF       1459 non-null   int64
 43  LowQualFinSF   1459 non-null   int64
 44  GrLivArea      1459 non-null   int64
 45  BsmtFullBath   1459 non-null   float64
 46  BsmtHalfBath   1459 non-null   float64
 47  FullBath       1459 non-null   int64
 48  HalfBath       1459 non-null   int64
 49  BedroomAbvGr   1459 non-null   int64
 50  KitchenAbvGr   1459 non-null   int64
 51  KitchenQual    1459 non-null   object
 52  TotRmsAbvGrd   1459 non-null   int64
 53  Functional     1459 non-null   object
 54  Fireplaces     1459 non-null   int64
 55  FireplaceQu    1459 non-null   object
 56  GarageType     1459 non-null   object
 57  GarageCars     1459 non-null   float64
 58  GarageArea     1459 non-null   float64
 59  GarageQual     1459 non-null   object
 60  GarageCond     1459 non-null   object
 61  PavedDrive     1459 non-null   object
 62  WoodDeckSF     1459 non-null   int64
 63  OpenPorchSF    1459 non-null   int64
 64  EnclosedPorch  1459 non-null   int64
 65  3SsnPorch      1459 non-null   int64
 66  ScreenPorch    1459 non-null   int64
 67  PoolArea       1459 non-null   int64
 68  PoolQC         1459 non-null   object
 69  Fence          1459 non-null   object
 70  MiscFeature    1459 non-null   object
 71  MiscVal        1459 non-null   int64
 72  SaleType       1459 non-null   object
 73  SaleCondition  1459 non-null   object
 74  AgeRemod       1459 non-null   int64
dtypes: float64(10), int64(23), object(42)
memory usage: 855.0+ KB

In [5]:
with open('cat_index.pkl','rb') as f:
    cat_index = pickle.load(f)

with open('vec_feat.pkl','rb') as f:
    vec_feat = pickle.load(f)
    
with open('columns.pkl','rb') as f:
    columns = pickle.load(f)

In [6]:
ids = test_df['Id'].values
test_df.drop(['Id'], axis=1, inplace=True)
X = test_df[columns].values
X.shape

(1459, 74)

In [7]:
norm_test_X = []
for i in range(X.shape[1]):
    if i in cat_index:
        result = vec_feat[i].transform(X[:,i].reshape(-1,1)).toarray()
#         print(i,result.shape)
    else:
        result = X[:,i].reshape(-1,1)
    
    if i > 0:
        norm_test_X = np.hstack((norm_test_X,result))
    else:
        norm_test_X = result

In [8]:
norm_test_X.shape

(1459, 281)

In [10]:
with open('column_fe_dict.pkl','rb') as f:
    column_dict = pickle.load(f)

In [9]:
with open('rf_model_fe.pkl','rb') as f:
    rf_model = pickle.load(f)

In [11]:
test_pred = rf_model.predict(norm_test_X[:,column_dict[67]])

In [12]:
test_pred_df = pd.DataFrame(columns=['SalePrice'], data=test_pred, index=ids)

In [13]:
test_pred_df.head()

       SalePrice
1461  137484.890
1462  160074.025
1463  168259.240
1464  176402.570
1465  203914.585

In [14]:
test_pred_df.to_csv('submission_fe_rf.csv',index_label='Id')